*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
}

/* - Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%) */
/* Tomato: hsl(4, 100%, 67%) */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    
}

.content{
    margin-left: 25px;
    margin-right: 20px;
}

.text{
    margin-bottom: 30px;
}

.text, p{
    opacity: 0.8;
    margin-left: 3px;
}

h1{
    margin-bottom: 23px;
    font-size: 60px;
}


.checkbox{
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    gap: 16px;
}



.btn-grad {
    background-image: linear-gradient(to right, #FF512F , #DD2476, #FF512F  );
    border: none;
    padding: 20px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-top: 7px;
    cursor: pointer;
}

.btn-grad:hover {
    background-position: Right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;

}



input{
    padding:17px  ;
    width: 348px;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 13px;
    cursor: pointer;
}

.content{
    margin-right: 40px;
}

.email-content{
    margin-top: 45px;
}

.mobile-version-img{
    display: none;
}

a{
    text-decoration: none;
    color: white;

}

@media screen and (max-width:920px){
body{
    flex-direction: column;
    /* align-items: center; */
    background-color: white; 

}

.container{
    flex-direction:column-reverse;
    align-items: center;
    padding: 0px;
    
    
}

.mobile-version-img{
    display: block;
    
}


.pc-version-img{
    display: none;
}

}

