*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* - Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%) */

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: white;
    padding:50px 60px  ;
    border-radius: 25px;
}

.btn-grad-2 {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    border: none;
    padding: 18px 112px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-top: 7px;
    cursor: pointer;
    margin-top: 40px;
}

.btn-grad-2:hover {
    background-position: Right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;

}

.succes-text{
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 55px;
}

span{
    font-weight: 800;
}

@media screen and (max-width:500px){
    body{
        background-color: white;
    }

    .btn-grad-2{
        margin-top: 100%;
    }
}
